.done{
    color: gray;
    text-decoration: line-through;
    
}


body{
    background-color: goldenrod;
    font-size: 2rem;
}

.wrapped{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
}
h1,h2{
    text-align: center;
    font-size: 4rem;
}
form{
    font-size: 3rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}    
input{
    font-size: 2rem;
    height: fit-content;
    width: fit-content;
}

button{
    font-size: 2rem;
    background-color: cadetblue;
    border-radius: 2rem;
    padding: 0.4rem;
    padding-inline: 1rem;
    cursor: pointer;
}

button:hover{
    transition-duration: 0.6s;
    background-color: antiquewhite;
    color: cadetblue;
}

