:root{
    /* colors */
    --Very-Dark-Magenta: hsl(300, 43%, 22%);
    --Soft-Pink: hsl(333, 80%, 67%);
    --Dark-Grayish-Magenta: hsl(303, 10%, 53%);
    --Light-Grayish-Magenta: hsl(300, 24%, 96%);
    --White: hsl(0, 0%, 100%);
}

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    Font-size: 15px;
    color: var(--Very-Dark-Magenta);
    font-family: "league spartan",sans-serif;
    letter-spacing: -0.01rem;
    background-color:antiquewhite;

}
.wrapped{
    background-image:url();
    /* width: 25%; */
    padding-block: 5rem;
    
    display: flex;
    flex-direction: column;
    /* align-items: center; */
}
.wrapped>*{
    margin-inline:27%;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}


h1{
    text-align: center;
    width: fit-content;

    font-size: 2.4rem;
    font-weight: 700;
    padding-inline: 4rem ;
    padding-bottom: 2rem;
}
header p{
    color: var(--Dark-Grayish-Magenta);
    font-size: 1.1rem;
    text-align: center;
    width: fit-content;
    padding-inline: 2.8rem;
}

.rates{
    margin-block: 1rem;
}
.rate-card{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.6rem;

    background-color: var(--Light-Grayish-Magenta);
    padding-inline: 4rem;
    padding-block: 1rem;
    margin-block:1rem;
}

.rate-card p{
    font-weight: bold;
}

.all-cards{
    padding-block: 2rem;

}
.card{
    background-color: var(--Very-Dark-Magenta);
    color: white;
    padding-inline: 2.6rem;
    padding-block: 3rem;
    border-radius: 12px;
    margin-inline: 3rem;
    margin-bottom: 1.5rem;
}
.img-name img{
    width:2.6rem;
    height: 2.6rem;
    border-radius: 50%;
}
.img-name{
    display: flex;
    gap: 1.2rem;
    margin-bottom: 2rem;
    font-size: 1rem;
    font-weight: bold;
}
.buyer{
    color: var(--Soft-Pink);
    font-weight: 400;
}
.img-name>div{
    margin-top: 0.6rem;
    display: flex;
    flex-direction: column;
    gap: 0.6rem;
}
.card p{
    line-height: 1.2rem;
}



@media(min-width:940px){
    .main-rates{
        flex-direction: row;
    }
    header{
        width: 40%;
    }
    .rates{
        flex-grow: 1;
    }
    .rate-card{
        flex-direction: row;
        width: fit-content;
    }

}